<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Conductor suite" parallel="methods">
  <test verbose="1" name="JClouds-Project" annotations="JDK">
    <classes>
      <class name="org.jclouds.vsphere.ConductorDeploymentTest"/>
    </classes>
  </test>
</suite>
